<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".AdwioApplication"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ADWIO"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ic_adwio"
        android:banner="@drawable/tv_banner">

        <service
            android:name=".ui.player.PlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data android:name="autoStoreLocales" android:value="true" />
        </service>

        <receiver
            android:name=".ui.sports.MatchReminderReceiver"
            android:exported="false" />

        <activity android:name=".ui.sports.SportsActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.crash.CrashActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.favorites.FavoritesActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.continuewatching.ContinueWatchingActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.about.AboutActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.profile.ProfileActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.settings.SettingsActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false" />
        <activity android:name=".ui.details.MovieDetailsActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.details.SeriesDetailsActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.library.GlobalSearchActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.library.LibraryActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.home.HomeActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.login.LoginActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.playlist.PlaylistActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity android:name=".ui.playlist.UsersActivity" android:screenOrientation="sensorLandscape" android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="sensorLandscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
